.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-middle {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-small {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.btn-primary {
  background-color: $white;
  color: $black;
  border: none;
  &:hover {
    background-color: $cyan;
  }
  &:disabled {
    background-color: $white50;
  }
}

.btn-text {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 1rem;
  &:hover {
    color: $cyan;
  }
  &:disabled {
    color: $black3;
  }
}
